/* Basic Reset */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

/* Header/Nav Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 40px;
}

header img {
  height: 156px;
  width: auto;
  margin: 0 auto;
}

/* Main Content Styles */
main {
  padding: 30px;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}

footer a {
  padding: 10px 20px;
  border: 2px solid #ffd700;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 0 10px;
}

footer .icon {
  height: 60px;
  width: auto;
}

/* Homepage Banner styles */
.banner {
  height: 600px;
  background: url(../images/Emelika.safaris.image.1.jpg) no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-message {
  border: 2px, solid #ffd700;
  padding: 10px; /* Some padding around the text */
  margin: 20px; /* Margin around the element */
  text-align: center; /* Centering the text */
  font-size: 20px; /* Larger font size */
}

/* Page Styles */
.flex-row-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.flex-column {
  flex: 0 1 50%;
}

.left-column {
  width: 100%;
  margin-right: 15px;
}

.right-column {
  width: 100%;
  margin-left: 15px;
  padding: 10px;
  height: 100%;
}

.right-column p {
  color: #ffd700;
  font-size: 0.8rem;
  font-weight: bold;
}

.yellow-border {
  border: 3px solid gold;
  border-radius: 10px;
}

.img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.image-half-width {
  width: 48%;
  height: 200px;
}

.image-full-width {
  width: 100%;
}

.paragraph-box h3 {
  color: #ff4500;
  margin-bottom: 10px; /* Increased bottom margin for spacing */
  text-align: center;
  font-size: 1.3em; /* Adjust font size as needed */
}
