/* Basic Reset */
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #ffd700;
  background-color: #000000;
}

/* Header/Nav Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 40px;
}

header img {
  height: 156px;
  width: auto;
  margin: 0 auto;
}

/* Main Content Styles */
main {
  padding: 30px;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}

footer a {
  padding: 10px 20px;
  border: 2px solid #ffd700;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 0 10px;
}

footer .icon {
  height: 60px;
  width: auto;
}

/* Homepage Banner styles */
.banner {
  height: 600px;
  background: url(../images/Emelika.safaris.image.1.jpg) no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-message {
  border: 2px, solid #ffd700;
  padding: 10px; /* Some padding around the text */
  margin: 20px; /* Margin around the element */
  text-align: center; /* Centering the text */
  font-size: 20px; /* Larger font size */
}

/* Page Styles */
.flex-row-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.flex-column {
  flex: 0 1 50%;
}

.left-column {
  width: 100%;
  margin-right: 15px;
}

.right-column {
  width: 100%;
  margin-left: 15px;
  height: 100%;
}

.yellow-border {
  border: 3px solid gold;
  border-radius: 10px;
}

.img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.image-half-width {
  width: 48%;
  height: 200px;
}

.image-full-width {
  width: 100%;
}

.text-content-container {
  padding: 10px;
}

.paragraph-box h2 {
  color: #ff4500;
  margin-bottom: 10px; /* Increased bottom margin for spacing */
  text-align: center;
}

.secondary-navigation {
  top: 0;
  width: 75%;
  max-width: 800;
  background-color: black;
  text-align: center;
  z-index: 1000;
  margin: 0 auto;
}

.secondary-navigation {
  margin: 30px auto;
}

.secondary-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.secondary-navigation ul li {
  margin-right: 0px;
}

.secondary-navigation ul li a {
  text-decoration: none;
  color: #ff4500;
  font-size: 1.2em;
  padding: 6px;
  border: 2px solid gold;
  border-radius: 6px;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 800px) {
  .secondary-navigation ul li a {
    font-size: 1em;
    padding: 2px;
  }
}

.destination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 20px;
}

.gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 2px solid gold;
  border-radius: 5px;
}

.description {
  flex: 1;
}

@media (max-width: 768px) {
  .destination {
    flex-direction: column;
  }
}

.form-container {
  padding: 10px;
}
